# Developer tools' files
# .lite_workspace.lua

# Neutralinojs binaries and builds
# /bin
# /dist

# Neutralinojs client (minified)
# neutralino.js

# Neutralinojs related files
# .storage
*.log
.tmp
.tmp/auth_info.json
.tmp/window_state.config.json
dist/Kaizen-RPG/.tmp/window_state.config.json
window_state.config.json
node_modules
temp_example
backup_files
*.db-shm
*.db-wal
resources/audio/alarm/custom/*.mp3
resources/audio/alarm/custom/*.wav
resources/audio/alarm/custom/*.ogg