body {
    /* background-color: var(--bg-color); */
    /* color: var(--focus-text-primary); */
    /* height: 100vh; */
    /* display: flex; */
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: space-between; */
    /* padding: 20px; */
}

/* --- Header Section --- */
header {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

/* --- Main Content --- */
.focus-standard-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
    margin-top: -20px;
}

/* Action Buttons */
.actions {
    display: flex;
    align-items: center;
    gap: 15px;
}

.start-focus-button {
    background-color: var(--accent-green);
    color: white;
    border: none;
    padding: 12px 32px;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: 0.2s;
    margin-bottom: 20px;
}

.start-focus-button:hover {
    background-color: var(--accent-green-hover);
}

.button-icon {
    background-color: #2d3342;
    border: none;
    color: #d1d5db;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1.1rem;
    transition: 0.2s;
    margin-bottom: 20px;
}

.button-icon:hover {
    background-color: #374151;
}