.focus-dropdown-container {
    padding-top: 15px
}

.focus-dropdown {
    background-color: #1e2532;
    border: 1px solid #2d3646;
    color: #e5e7eb;
    width: 300px;
    padding: 10px 15px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-size: 0.95rem;
}

.focus-dropdown-left {
    display: flex;
    gap: 10px;
    align-items: center;
}

.focus-dropdown-left i {
    color: #5a7396;
    transform: rotate(90deg);
    font-size: 0.8rem;
}