/* === GLOBAL COMPONENTS === */
@import url('css/toast.css');
@import url('css/components/tag-component.css');

/* === MAIN PAGE === */
@import url('css/variables.css');
@import url('css/base.css');
@import url('css/sidebar-layout.css');
@import url('css/sidebar-items.css');

/* === PLAN PAGE === */
    /* TODO LIST */
    @import url('css/plan/todo-list/todo-list.css');
    @import url('css/plan/todo-list/task-modal-overlay.css');

    /* HABIT TRACKER */
    @import url('css/plan/habit-tracker/habit-tracker.css');
    @import url('css/plan/habit-tracker/icon-picker-grid.css');
    @import url('css/plan/habit-tracker/stack-dropdown.css');
    @import url('css/plan/habit-tracker/drag-and-drop.css');

    /* KANBAN BOARD */
    @import url('css/plan/kanban-board/kanban-board.css');
    @import url('css/plan/kanban-board/buttons.css');

/* === FOCUS PAGE === */
    @import url('css/focus/review-sessions.css');
    
    /* STANDARD TIMER: MAIN */
    @import url('css/focus/focus-standard/focus-dot.css');
    @import url('css/focus/focus-standard/focus-footer-button.css');
    @import url('css/focus/focus-standard/focus-dropdown.css');
    @import url('css/focus/focus-standard/focus-standard-layout.css');
    @import url('css/focus/focus-standard/focus-stat-icons.css');
    @import url('css/focus/focus-standard/timer-circle-GREEN.css');
    @import url('css/focus/focus-standard/timer-circle-BLUE.css');
    @import url('css/focus/focus-standard/todo-overlay.css');

    /* STANDARD TIMER: CONFIGURE SIDE BAR */
    @import url('css/focus/focus-standard/focus-sidebar-layout.css');
    @import url('css/focus/focus-standard/focus-sidebar-items.css');
    @import url('css/focus/focus-standard/locked-state-warning.css');

    /* FLEXIBLE TIMER */
    @import url('css/focus/focus-flexible/focus-flexible-layout.css');
    @import url('css/focus/focus-flexible/tag-dropdown.css');
    @import url('css/focus/focus-flexible/delete-tag-overlay.css');

/* === TIMEFRAMES PAGE === */
    /* TODAY */
    @import url('css/timeframes/today/today.css');
    @import url('css/timeframes/today/drag-and-drop.css');

    /* THIS WEEK */
    @import url('css/timeframes/this-week/this-week.css');

    /* THIS QUARTER */
    @import url('css/timeframes/this-quarter/this-quarter.css');

    /* THIS YEAR */
    @import url('css/timeframes/this-year/this-year.css');

    /* SETTINGS */
    @import url('css/timeframes/timeframes-setting.css');

/* === ANALYZE PAGE === */
    @import url('css/analyze/custom.css');
    @import url('css/analyze/day.css');
    @import url('css/analyze/month.css');

    /* OVERVIEW */
    @import url('css/analyze/overview.css');
    @import url('css/analyze/overview/day-cell.css');

    /* WEEK */
    @import url('css/analyze/week.css');

    /* YEAR */
    @import url('css/analyze/year.css');

/* === GAME PAGE === */
    /* GAME MODES */
    @import url('css/games/game-modes/game-modes.css');
    @import url('css/games/game-modes/company-setup.css');
    @import url('css/games/game-modes/animations.css');
    @import url('css/games/load-campaign.css');
    @import url('css/games/game-modes/sellswords.css');
    @import url('css/games/management.css');
    /* @import url('css/games/quests.css');
    @import url('css/games/inventory.css');
    @import url('css/games/settings.css'); */

    /* EMPIRE BUILDER */
    /* @import url('css/games/empire-builder.css'); */

/* === MAIN SETTINGS === */
@import url('css/main-settings/main-settings-sidebar.css');
@import url('css/main-settings/main.css');
@import url('css/main-settings/mods.css');
@import url('css/main-settings/clear-history-modal-overlay.css');