/* === MAIN PAGE === */
@import url('css/variables.css');
@import url('css/base.css');
@import url('css/sidebar-layout.css');
@import url('css/sidebar-items.css');

/* === FOCUS PAGE === */
/* STANDARD TIMER */
@import url('css/focus-standard/focus-dot.css');
@import url('css/focus-standard/focus-dropdown.css');
@import url('css/focus-standard/focus-footer-button.css');
@import url('css/focus-standard/focus-standard-layout.css');
@import url('css/focus-standard/focus-stat-icons.css');
@import url('css/focus-standard/timer-circle.css');

/* CONFIGURE SIDE BAR */
@import url('css/focus-standard/focus-sidebar-layout.css');
@import url('css/focus-standard/focus-sidebar-items.css');

/* FLEXIBLE TIMER */
@import url('css/focus/focus-flexible/main.css');

/* === TIMEFRAMES PAGE === */

/* === ANALYZE PAGE === */

/* === GAME PAGE === */

/* === MAIN SETTINGS === */
@import url('css/main-settings/main-settings.css');