/* === MAIN PAGE === */
@import url('css/variables.css');
@import url('css/base.css');
@import url('css/sidebar-layout.css');
@import url('css/sidebar-items.css');

/* === PLAN PAGE === */
    /* TODO LIST */
    @import url('css/plan/todo-list/todo-list.css');

    /* KANBAN BOARD */
    @import url('css/plan/kanban-board/kanban-board.css');
    @import url('css/plan/kanban-board/buttons.css');

/* === FOCUS PAGE === */
    @import url('css/focus/review-sessions.css');
    
    /* STANDARD TIMER: MAIN */
    @import url('css/focus/focus-standard/focus-dot.css');
    @import url('css/focus/focus-standard/focus-footer-button.css');
    @import url('css/focus/focus-standard/focus-dropdown.css');
    @import url('css/focus/focus-standard/focus-standard-layout.css');
    @import url('css/focus/focus-standard/focus-stat-icons.css');
    @import url('css/focus/focus-standard/timer-circle-GREEN.css');

    /* STANDARD TIMER: CONFIGURE SIDE BAR */
    @import url('css/focus/focus-standard/focus-sidebar-layout.css');
    @import url('css/focus/focus-standard/focus-sidebar-items.css');
    @import url('css/focus/focus-standard/locked-state-warning.css');

    /* FLEXIBLE TIMER */
    @import url('css/focus/focus-flexible/focus-flexible-layout.css');
    @import url('css/focus/focus-flexible/range-slider.css');
    @import url('css/focus/focus-flexible/tag-dropdown.css');
    @import url('css/focus/focus-flexible/delete-tag-overlay.css');

/* === TIMEFRAMES PAGE === */
@import url('css/timeframes/today.css');
@import url('css/timeframes/this-week.css');
@import url('css/timeframes/this-quarter.css');
@import url('css/timeframes/this-year.css');

/* === ANALYZE PAGE === */
    @import url('css/analyze/custom.css');
    @import url('css/analyze/day.css');
    @import url('css/analyze/month.css');

    /* OVERVIEW */
    @import url('css/analyze/overview.css');
    @import url('css/analyze/overview/day-cell.css');

    /* WEEK */
    @import url('css/analyze/week.css');

    /* YEAR */
    @import url('css/analyze/year.css');

/* === GAME PAGE === */
    /* GAME MODES */
    @import url('css/games/game-modes.css');
    @import url('css/games/party.css');
    @import url('css/games/quests.css');
    @import url('css/games/inventory.css');
    @import url('css/games/settings.css');

    /* EMPIRE BUILDER */
    @import url('css/games/empire-builder.css');

/* === MAIN SETTINGS === */
@import url('css/main-settings/main-settings-sidebar.css');
@import url('css/main-settings/main.css');
@import url('css/main-settings/mods.css');
@import url('css/main-settings/clear-history-modal-overlay.css');