body {
    background-color: var(--bg-body);
    color: var(--text-primary);
    font-family: var(--font-main);
    margin: 0;
}

/* Style page content */
#default-page {
    transition: margin-left 0.5s; /* sidebar open speed */
    margin-left: 75px;
    padding: 20px;
}