body {
    background-color: var(--bg-body);
    color: var(--text-primary);
    font-family: var(--font-main);
    margin: 0;
}

/* Style page content */
#default-page {
    position: absolute; /* this position: absolute fixes the 'sidebar covering contents' issue */
    top: 0;
    transition: margin-left 0.5s; /* sidebar open speed */
    padding: 20px;
    left: 75px;
} 