:root {
    /* MAIN PAGE */
        /* Background */
        --bg-body: #191A1C;
        --bg-sidebar: #2C2C2C;
        --bg-sidebar-inner: #262626;
        --bg-hover: #3D3D3D;
        --accent-active-bg: #1C398E;
        
        /* Fonts */
        --font-main: "Segoe UI", sans-serif;
        --accent-active-text: #8EC5FF;
        --text-primary: white;
        
        /* Dimensions */
        --sidebar-width: 250px;

    /* FOCUS STANDARD PAGE */
    --surface-color: #1f2937;
    --circle-bg: #132e2d;
    --focus-text-primary: #ffffff;
    --text-secondary: #9ca3af;
    --accent-green: #059669;
    --accent-green-hover: #047857;
    --timer-text: #6ee7b7;
    --timer-bg-text: #8dfeb0;
    --stat-fire: #f59e0b;
    --stat-blue: #3b82f6;
    --stat-check: #10b981;
        /* CONFIGURE SIDE BAR */

    /* FOCUS FLEXIBLE PAGE */
        /* Colors */
        --focus-flexible-bg-body: #191A1C;
        --bg-widget: #181818;

        --card-bg: #222222;
        --card-bg-active: #1d2b24;
        /* Subtle green tint for active focus */

        --text-white: #eeeeee;
        --text-grey: #888888;

        /* --accent-green: #2c6e49; */
        --accent-green-bright: #438e66;
        --accent-brown: #a66e4e;
        --accent-brown-dark: #8c5e3c;
        --accent-blue: #5b85b7;

        /* Spacing */
        --radius-sm: 6px;
        --radius-md: 8px;
        --radius-lg: 12px;
}